body {
  background-color: #FFE2E2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

h3, h1 {
  color: #66BFBF;
}

#kazz img {
  border-radius: 50%;
   width: 300px;
   height: 300px;
  

}
